.navbar_container{
    display: flex;
    flex: 100%;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    margin: 0px;
    color: white;
}

.navbar_container_options{
    flex: 70%;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.navbar_container p {
    flex: 30%;
    text-align: right;
    color: #ca9126;
    margin: 0px;
}

.nav_bar{
    max-width: 80%;
    text-align: center;
    margin-left:  10%;
    margin-right: 10%;
}