.parent_pop_up{
    display: flex;
    flex: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.parent_pop_up_event{
    display: flex;
    flex: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.pop_up{
    flex: 100%;
    flex-flow: nowrap column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 330px;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: nowrap;
    color: black;
    background-color: rgb(229, 228, 227);
    border-radius: 5px;
    overflow: hidden;
    border: solid 4px #f38586;
}

.pop_up_header{
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 1px 0px 1px 0px;
    background-color: #f38586;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pop_up_header h2{
    flex: 95%;
}

.pop_up_header_closeEdit{
    flex: 5%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pop_up_input {
    /* display: inline; */
    width: 70%;
    /* margin-top: 10px; */
    /* margin-left: 25%; */
    /* margin-right: 25%; */
    border: none;
    outline: none;
    border-radius: 5px;
    height: 33px;
    border: solid 2px black;
}

.pop_up_button {

    margin: 5px;
    width: 20%;
    height: 35px;
    background-color: #f38586;
    border: none;
    border-radius: 5px;
}


.pop_up_button:hover{
    color: white;
    background-color: red;
}

.pop_up_header_closeEdit:hover{
    color: red;
}

.pop_up_p{
    text-align: left;
    word-wrap: break-word;
    width: 94%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* height: 200px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-left: 5px;
    border-left: 3px solid #f38586;
    
}

.container_pop_up_p {    
    overflow-y:auto;
    height: 207px;
}

.pop_up_container_edit{
    text-align: right;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    /* border: solid 2px black; */
}

.pop_up_editBtn{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pop_up_editBtn:hover{
    opacity: 0.5;
}